@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#wrap {
  border: 3px solid rgb(31, 235, 173);
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  vertical-align: top;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.wid-cen {
  width: 80%;
  /* border: 2px solid blue; */
  margin: 0 auto;
}

/*--------------------rwd  tablet 431px ~ 768px*/
@media (max-width: 768px) {
  .nav__links {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }

  .cta {
    display: inline-flex;
    position: fixed;
    bottom: 80px;
    width: 100vw;
    left: -100;
    justify-content: center;
    transition: all 0.3s ease;
  }

  #click:not(:checked) ~ .nav__links {
    left: -100%;
  }

  #click:not(:checked) ~ .cta {
    left: -100%;
  }

  #click:checked ~ .nav__links {
    left: 0%;
  }

  #click:checked ~ .cta {
    left: 0%;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  .main_slide .main-slide-container .main-slide-txt > h3 {
    font-size: 2.5rem;
    line-height: 52px;
  }

  .nav__links li {
    display: block;
    margin-top: 40px;
  }

  .menu-btn {
    display: inline-block;
  }

  .content .flex {
    flex-wrap: wrap;
    gap: 15px 0;
  }

  .bookmark-container > div {
    width: 95%;
  }

  .section1-slide-txt > h2 {
    font-size: 1.2rem;
  }

  .bookmark-container > div {
    width: 95%;
  }

  .footer .footer-container .footer-items {
    width: 40%;
  }
}
/*---------------------------rwd mobile 0px ~ 430px*/

@media (max-width: 430px) {
  .content .section1 .section1_slide > div {
    width: 95%;
  }

  .section1 .section1_slide .word_tit {
    width: 100%;
  }
  .content .flex {
    flex-wrap: wrap;
    gap: 15px 0;
  }

  .main_slide .slide_txt > h3 {
    font-size: 2rem;
    line-height: 48px;
  }

  .main_tit > p {
    font-size: 2rem;
    line-height: 42px;
  }

  .bookmark .title > h1 {
    font-size: 2rem;
    line-height: 42px;
  }

  .section4 .event .event_board .event_cont > img {
    width: 95%;
  }
}

/* navigation */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100vw;

  z-index: 10;
}
header nav ul li a:hover,
header nav ul li a.active {
  border-bottom: 2px solid #fff;
}

header.sticky {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
  background: #fff;
}
header.sticky ul li a,
header.sticky .logo {
  color: #000;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover,
.active {
  color: #0088a9;
}

button {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.menu-btn {
  color: white;
  display: none;
  cursor: pointer;
  padding-left: 10px;
}

.nav__links > li {
  color: #333;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

/* main-slide */

.main-slide-container > img {
  /* position: absolute; */
  width: 100%;
  height: 1013px;
}

.main-slide-container {
  background: url(img/slide1.jpg) no-repeat center/cover;
  padding: 12vw;
}

.main-slide_txt {
  position: absolute;
  top: 30%;
  left: 10%;
}

.main-slide-txt > h1 {
  color: #fff;
  font-family: Pretendard;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
}

.main-slide-txt > h2 {
  color: #fff;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 140% */
  padding-top: 10px;
}

.main-slide-txt > h3 {
  color: #fff;
  font-family: Pretendard;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 86px;
  /* 132.308% */
}

/* default */
.main_tit {
  color: #333;
  font-family: Pretendard;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  /* 125.714% */
}

.main_subt_wt {
  color: #fff;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}

.main_tit_wt {
  color: #fff;
  font-family: Pretendard;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  /* 125.714% */
}

.main_subt {
  color: #999;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}

.more {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 28px; */
  /* 155.556% */
}

.word_tit {
  color: #333;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  width: 14vw;
  /* 171.429% */
}

.word_subt {
  color: #999;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  /* 300% */
}

/* section1 */

.slide_bg {
  height: 100%;
}

.more {
  margin-top: 8px;
  width: 121px;
  height: 28px;
}

.section1_slide > div {
  width: 24%;
}

.box1 {
  background: url(img/word0601.png) no-repeat center/cover;
}
.box2 {
  background: url(img/word0503.png) no-repeat center/cover;
}
.box3 {
  background: url(img/word0504.png) no-repeat center/cover;
}
.box4 {
  background: url(img/word0601.png) no-repeat center/cover;
}

.section1 {
  padding-top: 24px;
}

.section1-slide-txt {
  padding: 24px;
}

/* section2 introduce */

.introduce {
  padding-bottom: 200px;
}

.summary_txt {
  position: relative;
  color: #3198c5;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 35px; /* 175% */
  /* padding: 150px 150px; */
}

.character {
  width: 20vw;
}

.first {
  margin-right: 26%;
}

/* bookmark */

.bookmark {
  margin-top: 150px;
}

.bookmark .cont {
  background: url(img/bookmark02.jpg) no-repeat center/cover;
  padding-bottom: 100px;
}

.bookmark_top_txt {
  color: #fff;
  text-align: right;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.bookmark .top {
  position: relative;
  padding: 40px 0;
}

.bookmark .sub_title {
  margin: 68px;
  width: 80%;
  /* padding: 50px 0; */
}

.bookmark .sub_title .more > img {
  float: right;
}

.bookmark_cont_txt > h3 {
  color: #000;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  padding: 0 48px;
}
.bookmark_cont_txt > h1 {
  color: #000;
  font-family: Pretendard;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 54px; /* 135% */
  padding: 48px 48px;
}

.bookmark_cont_txt > h2 {
  color: #000;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  padding: 0 48px;
}

.bookmark_cont_txt {
  position: relative;
  width: 32%;
  margin: 0 auto;
  /* transform: translateY(2%); */
  padding: 150px 0;
  background: #fff;
}

.bookmark_cont_txt > img {
  width: 97px;
  height: 48px;
  margin: 20px 48px;
}

.time_cont_img {
  position: absolute;
  transform: translate(-20%, 40%);
}

.bookmark .cont_background {
  position: absolute;
}

/* section4 event */

.section4 {
  border-radius: 0px 0px 200px 0px;
  background: #f9f9f9;
}

.event .top .top_txt {
  /* position: absolute; */
  color: #666;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  width: 40%;
  padding: 24px;
}

.event .top {
  /* padding-bottom: 60px; */
}

.event .top .more {
  text-align: right;
  padding-top: 24px;
}

.event_main_txt {
  color: #333;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  padding: 24px 24px;
}

.event_sub_txt {
  color: #888;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  padding: 12px 24px;
}

.event_cont > img {
  width: 32%;
  flex-shrink: 0;
  padding: 12px 0;
}

.event_date {
  padding-top: 60px;
}

.event_cont {
  border-top: 2px solid #000;
  padding: 24px;
}

.event_txt {
  padding-right: 80px;
}

/* section5 map */

.section5 {
  margin-top: 60px;
}
.address_txt_bold > span {
  color: #545a66;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
}

.address_txt_bold > p {
  color: #545a66;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.column1 {
  height: 90%;
}

.section5 .left {
  width: 60%;
}

.section5 > img {
  width: 20%;
}

/* footer */
.footer .footer-container .footer-items > ul {
  color: #fff;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* border-right: 1px solid rgba(255, 255, 255, 0.5); */
}

.footer {
  width: 100%;
  background: #171717;
  margin-top: 56px;
}

.copyright {
  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-top: 32px;
  text-align: center;
}

.footer_logo > p {
  color: #fff;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-items {
  width: 56%;
}

.footer_logo_box > img {
  width: 224px;
  height: 49px;
}

.footer-container {
  padding: 96px 0 96px 0;
}
